<div class="footer flex  justify-center">
  <div class="footer-content w-4/5 bg-white flex justify-center">
    <p class="text-center">© 2025 Climate Solutions - All rights reserved</p>
  </div>  
  </div>